/* BugFilter Component */
section {

    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

div {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    margin-right: 1.5em;
    color: #333;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    font-size: 14px;
}

input[type="text"]:hover,
input[type="number"]:hover {
    border-color: #999;
}

.labels{
    position: relative;
}
.labels section{
    position: absolute;
    top: -200px;
    left: -250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 9;
    background-color: #dee2e6;

}