/* BugFilter Component */
.filters {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 20px;
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

.filters>section,
.filters>div {
    margin-bottom: 20px;
}
.filters section div {
    margin-bottom: 1em;
}

.filters p {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.filters label {
    font-weight: bold;
    margin-right: 10px;
    color: #333;
}

.filters input[type="text"],
.filters input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    max-width: 200px;
}

.filters input[type="checkbox"] {
    margin-left: 10px;
}

.filters button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-inline: 10px;
}

.filters button:hover {
    background-color: #0056b3;
}

.filters .labels section {
    margin-top: 10px;
}

.filters .labels div {
    margin-bottom: 5px;
}

.filters span {
    display: inline-block;
    width: 30px;
    text-align: center;
}