/* BugList Component */
.bug-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.bug-preview {
    border: 1px solid #dee2e6;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bug-preview button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

.bug-preview button:hover {
    background-color: #c82333;
}

.bug-preview a {
    color: #007bff;
    text-decoration: none;
}

.bug-preview a:hover {
    text-decoration: underline;
}